<a href="https://colab.research.google.com/github/aswa02/Mentor-Task/blob/main/Mentor_Task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Assignment1

In [ ]:
#Balance scale data in UCI

In [2]:
import pandas as pd

In [3]:
column_names = ['Class Name','Left-Weight','Left-Distance','Right-Weight','Right-Distance']

In [4]:
df=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/balance-scale/balance-scale.data',names=column_names)

In [5]:
df

    Class Name  Left-Weight  Left-Distance  Right-Weight  Right-Distance
0            B            1              1             1               1
1            R            1              1             1               2
2            R            1              1             1               3
3            R            1              1             1               4
4            R            1              1             1               5
..         ...          ...            ...           ...             ...
620          L            5              5             5               1
621          L            5              5             5               2
622          L            5              5             5               3
623          L            5              5             5               4
624          B            5              5             5               5

[625 rows x 5 columns]

In [6]:
df.shape

(625, 5)

In [7]:
df.nunique()

Class Name        3
Left-Weight       5
Left-Distance     5
Right-Weight      5
Right-Distance    5
dtype: int64

In [ ]:
df['Class Name'].nunique()

3

In [ ]:
df['Class Name'].unique()

array(['B', 'R', 'L'], dtype=object)

In [8]:
df.describe()

       Left-Weight  Left-Distance  Right-Weight  Right-Distance
count   625.000000     625.000000    625.000000      625.000000
mean      3.000000       3.000000      3.000000        3.000000
std       1.415346       1.415346      1.415346        1.415346
min       1.000000       1.000000      1.000000        1.000000
25%       2.000000       2.000000      2.000000        2.000000
50%       3.000000       3.000000      3.000000        3.000000
75%       4.000000       4.000000      4.000000        4.000000
max       5.000000       5.000000      5.000000        5.000000

In [20]:

df['Distance']=df.iloc[:,1:].sum(axis=1)

In [21]:
df

,Class Name,Left-Weight,Left-Distance,Right-Weight,Right-Distance,Distance
0,B,1,1,1,1,4
1,R,1,1,1,2,5
2,R,1,1,1,3,6
3,R,1,1,1,4,7
4,R,1,1,1,5,8
...,...,...,...,...,...,...
620,L,5,5,5,1,16
621,L,5,5,5,2,17
622,L,5,5,5,3,18
623,L,5,5,5,4,19
624,B,5,5,5,5,20

In [22]:
del df['Distance']

In [23]:
df

    Class Name  Left-Weight  Left-Distance  Right-Weight  Right-Distance
0            B            1              1             1               1
1            R            1              1             1               2
2            R            1              1             1               3
3            R            1              1             1               4
4            R            1              1             1               5
..         ...          ...            ...           ...             ...
620          L            5              5             5               1
621          L            5              5             5               2
622          L            5              5             5               3
623          L            5              5             5               4
624          B            5              5             5               5

[625 rows x 5 columns]

In [25]:
df_gb=df.groupby('Class Name')

In [26]:
df_gb

In [28]:
df_gb.get_group('R')

    Class Name  Left-Weight  Left-Distance  Right-Weight  Right-Distance
1            R            1              1             1               2
2            R            1              1             1               3
3            R            1              1             1               4
4            R            1              1             1               5
5            R            1              1             2               1
..         ...          ...            ...           ...             ...
568          R            5              3             4               4
569          R            5              3             4               5
573          R            5              3             5               4
574          R            5              3             5               5
599          R            5              4             5               5

[288 rows x 5 columns]

In [29]:
df_gb.get_group('R').mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Left-Weight       2.399306
Left-Distance     2.399306
Right-Weight      3.611111
Right-Distance    3.611111
dtype: float64

In [30]:
df.values

array([['B', 1, 1, 1, 1],
       ['R', 1, 1, 1, 2],
       ['R', 1, 1, 1, 3],
       ...,
       ['L', 5, 5, 5, 3],
       ['L', 5, 5, 5, 4],
       ['B', 5, 5, 5, 5]], dtype=object)

In [31]:
df.isnull().sum()

Class Name        0
Left-Weight       0
Left-Distance     0
Right-Weight      0
Right-Distance    0
dtype: int64

In [32]:
x = df.iloc[:,0:-1]
x

    Class Name  Left-Weight  Left-Distance  Right-Weight
0            B            1              1             1
1            R            1              1             1
2            R            1              1             1
3            R            1              1             1
4            R            1              1             1
..         ...          ...            ...           ...
620          L            5              5             5
621          L            5              5             5
622          L            5              5             5
623          L            5              5             5
624          B            5              5             5

[625 rows x 4 columns]

In [34]:
y = df.iloc[:, -1]
y

0      1
1      2
2      3
3      4
4      5
      ..
620    1
621    2
622    3
623    4
624    5
Name: Right-Distance, Length: 625, dtype: int64

In [35]:
z=  df.iloc[:,[ -1]]

In [36]:
z

     Right-Distance
0                 1
1                 2
2                 3
3                 4
4                 5
..              ...
620               1
621               2
622               3
623               4
624               5

[625 rows x 1 columns]

Assignment 2

In [ ]:
#compute_dist()

In [37]:
l1 =[3, 4, 2, 1, 5, 1, 2, 4, 3, 4]
def Compute_dist(l1):
    d = dict((x,l1.count(x)) for x in set(l1))
    return d

print("d1:",Compute_dist(l1))

d1: {1: 2, 2: 2, 3: 2, 4: 3, 5: 1}